@model ForestCore.Models.Blog

@{
    ViewData["Title"] = "Details";
}



<!--content-->
<div class="blog">
    <div class="container">
        <div class="blog-top">
            <div class=" grid_3 grid-1">
                <h3>@Model.Name</h3>
                <img src="~/images/@Model.Photo" class="img-responsive" alt="" />


                <p>@Model.Description</p>


                </div>
            </div>
        </div>
    </div>
